<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Animal Inventory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <% include('partials/partials.ejs') %>
    <div class="container">
        <div id="app">
            <div class="row" id="Animal">
                <h3>Animal list</h3>
                <table v-if="hasAnimals">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="animal in animals">
                            <td>{{animal.Name}}</td>
                            <td><img src="{{animal.Image}}" alt="" border=3 height=100 width=100></img></td>
                            <td>
                                <button id="guitarDelete" @click="confirmAnimalDeleted(animal.id)" class="btn-small"><i class="material-icons right">delete</i>Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p v-if="noAnimals>No Animals yet!</p>
            </div>
        </div>
    </div>
            <script src="js/main.js"></script>
</body>
</html>